name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Build with Gradle
      run: ./gradlew --no-daemon --stacktrace build

    - uses: actions/upload-artifact@v2
      with:
        name: artifacts
        path: |
          ./*/build/outputs/apk/
          ./*/build/outputs/aar/
          ./*/build/test-results/**/TEST-*.xml
          ./androidApp/build/reports/lint-results.xml
