name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Build with Gradle
      run: ./gradlew --no-daemon --stacktrace build

    - uses: actions/upload-artifact@v2
      with:
        name: app
        path: |
          ./*/build/outputs/apk/*/*.apk
          ./*/build/outputs/bundle/*/*.aab

    - uses: actions/upload-artifact@v2
      with:
        name: shared library
        path: |
          ./*/build/outputs/aar/*.aar

    - uses: actions/upload-artifact@v2
      with:
        name: test reports
        path: |
          ./*/build/test-results/**/TEST-*.xml

    - uses: actions/upload-artifact@v2
      with:
        name: code quality reports
        path: |
          ./androidApp/build/reports/lint-results.xml
